.question-form{
    color: white;
    font-weight: bold;
}

.question-row1{
    display:flex;
    justify-content:space-around;
    max-width:100%;
    border:2px solid #6698FF;
    padding:20px;
    border-radius:5px;
}

.mark{
    background-color: white;
    border: none;
}

.submitButton{
    margin-left:44%;
    width:150px;
    height:38px;
    color:white;
    background-color: #6698FF;
    border:none;
    border-radius:5px;
    margin-top:10px;
    font-weight: bold;
}

.submitButton:hover{
    background:linear-gradient(90deg,#87CEFA,#00BFFF);
}
