* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #1177ca;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  .nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
    
  }
  .nav > .nav-links > ul li{
    display: inline-block;
    background-color: #1177ca;
    
    
  }
  .nav > .nav-links > ul li:hover{
      background-color: #0b65af;
      border-radius: 5px;
  }
  
  .nav > #nav-check {
    display: none;
  }

 .nav .nav-links ul a.icon{
 margin-left: 80px;
 margin-right: 10px;
 }

 .nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }

  
  @media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }
    
      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;
         
      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .School-wise{
    height: 46px;
    width: 200px;
    margin-left: 430px;
    margin-right: 20px;
    display:inline-block;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #6698FF;
    color: #fff;
    font-size: 14px;
    letter-spacing:2px;
    text-transform: uppercase;
    cursor:pointer;
    font-weight: bold;
}

.School-wise:hover{
    background:linear-gradient(90deg,#87CEFA,#00BFFF);
}

.School-wise:active{
    opacity: 0.5;
}

.Department-wise{
    height: 46px;
    width: 200px;
    margin-right: 20px;
    display:inline-block;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #6698FF;
    color: #fff;
    font-size: 14px;
    letter-spacing:2px;
    text-transform: uppercase;
    cursor:pointer;
    font-weight: bold;
}
.Department-wise:hover{
    background:linear-gradient(90deg,#87CEFA,#00BFFF);
}
.Department-wise:active{
    opacity: 0.5;
}
.Program-wise{
    height: 46px;
    width: 200px;
    margin-right: 20px;
    display:inline-block;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #6698FF;
    color: #fff;
    font-size: 14px;
    letter-spacing:2px;
    text-transform: uppercase;
    cursor:pointer;
    font-weight: bold;
}

.Program-wise:hover{
    background:linear-gradient(90deg,#87CEFA,#00BFFF);
}

.Program-wise:active{
    opacity: 0.5;
}

.courseWiseView:hover{
background:linear-gradient(90deg,#87CEFA,#00BFFF);
}

.courseWiseView:active{
  opacity: 0.5;
}

.background{
  background-color: #155977;
  height: 100vh;
}


.row1{
  background-color:#155977;
  width:100%;
  height: 70px;
  
}

.row2{
  background-color:#155977;
}

.select{
  padding:8px,12px;
  width: 150px;
  height:36px ;
  margin-left: 44.5%;
  margin-top: 18px;
  color: black;
  background-color:  #6698FF;
  border: 1px solid;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing:2px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  text-align: center;
  color:white;
}

.select:hover{
  background:linear-gradient(90deg,#87CEFA,#00BFFF);
}

select option{
  background-color:#00BFFF;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}